KiB7CiAgICAgIG1hcmdpbjogMDsKICAgICAgcGFkZGluZzogMDsKICAgICAg
Ym94LXNpemluZzogYm9yZGVyLWJveDsKICAgICAgZm9udC1mYW1pbHk6ICdJ
bnRlcicsICdTZWdvZSBVSScsIFRhaG9tYSwgR2VuZXZhLCBWZXJkYW5hLCBz
YW5zLXNlcmlmOwogICAgICBmb250LXdlaWdodDogNDAwOwogICAgfQoKICAg
IGJvZHkgewogICAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoMTM1
ZGVnLCAjMTE5OThlIDAlLCAjMzhlZjdkIDUwJSwgIzRmYWNmZSAxMDAlKTsK
ICAgICAgbWluLWhlaWdodDogMTAwdmg7CiAgICAgIGRpc3BsYXk6IGZsZXg7
CiAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47CiAgICB9CgogICAgaGVh
ZGVyIHsKICAgICAgYmFja2dyb3VuZDogcmdiYSgyNTUsIDI1NSwgMjU1LCAw
LjkpOwogICAgICBiYWNrZHJvcC1maWx0ZXI6IGJsdXIoMjBweCk7CiAgICAg
IGJvcmRlci1ib3R0b206IDFweCBzb2xpZCByZ2JhKDI1NSwyNTUsMjU1LDAu
Mik7CiAgICAgIHBhZGRpbmc6IDEuNXJlbSAzcmVtOwogICAgICBib3gtc2hh
ZG93OiAwIDhweCAzMnB4IHJnYmEoMCwwLDAsMC4xKTsKICAgICAgZGlzcGxh
eTogZmxleDsKICAgICAgZ2FwOiAxLjVyZW07CiAgICAgIGFsaWduLWl0ZW1z
OiBjZW50ZXI7CiAgICAgIHBvc2l0aW9uOiBzdGlja3k7CiAgICAgIHRvcDog
MDsKICAgICAgei1pbmRleDogMTAwOwogICAgfQoKICAgIGhlYWRlciBpbnB1
dCB7CiAgICAgIGZsZXg6IDE7CiAgICAgIHBhZGRpbmc6IDFyZW0gMS41cmVt
OwogICAgICBib3JkZXI6IDJweCBzb2xpZCByZ2JhKDU2LCAyMzksIDEyNSwg
MC4zKTsKICAgICAgYm9yZGVyLXJhZGl1czogMTJweDsKICAgICAgZm9udC1z
aXplOiAxcmVtOwogICAgICBvdXRsaW5lOiBub25lOwogICAgICB0cmFuc2l0
aW9uOiBhbGwgMC4zcyBlYXNlOwogICAgICBiYWNrZ3JvdW5kOiByZ2JhKDI1
NSwyNTUsMjU1LDAuOCk7CiAgICB9CgogICAgaGVhZGVyIGlucHV0OmZvY3Vz
IHsKICAgICAgYm9yZGVyLWNvbG9yOiAjMTE5OThlOwogICAgICBib3gtc2hh
ZG93OiAwIDAgMCAzcHggcmdiYSgxNywxNTMsMTQyLDAuMSk7CiAgICB9Cgog
ICAgLmJ0biB7CiAgICAgIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCh0
byByaWdodCwgIzExOTk4ZSwgIzM4ZWY3ZCk7CiAgICAgIGNvbG9yOiB3aGl0
ZTsKICAgICAgYm9yZGVyOiBub25lOwogICAgICBwYWRkaW5nOiAxcmVtIDIu
NXJlbTsKICAgICAgZm9udC1zaXplOiAxcmVtOwogICAgICBmb250LXdlaWdo
dDogNTAwOwogICAgICBib3JkZXItcmFkaXVzOiAzMHB4OwogICAgICBjdXJz
b3I6IHBvaW50ZXI7CiAgICAgIHRyYW5zaXRpb246IGFsbCAwLjNzIGVhc2U7
CiAgICAgIGJveC1zaGFkb3c6IDAgOHB4IDI1cHggcmdiYSgxNywxNTMsMTQy
LDAuNCk7CiAgICAgIHdoaXRlLXNwYWNlOiBub3dyYXA7CiAgICB9CgogICAg
LmJ0bjpob3ZlciB7CiAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtMnB4
KTsKICAgICAgYm94LXNoYWRvdzogMCAxMnB4IDM1cHggcmdiYSgxNywxNTMs
MTQyLDAuNSk7CiAgICB9CgogICAgLmJ0bjphY3RpdmUgewogICAgICB0cmFu
c2Zvcm06IHRyYW5zbGF0ZVkoMCk7CiAgICB9CgogICAgLmFwcC1jb250YWlu
ZXIgewogICAgICBkaXNwbGF5OiBmbGV4OwogICAgICBmbGV4OiAxOwogICAg
ICBvdmVyZmxvdzogaGlkZGVuOwogICAgfQoKICAgICNzaWRlYmFyIHsKICAg
ICAgd2lkdGg6IDI4MHB4OwogICAgICBiYWNrZ3JvdW5kOiByZ2JhKDI1NSwg
MjU1LCAyNTUsIDAuOSk7CiAgICAgIGJhY2tkcm9wLWZpbHRlcjogYmx1cigy
MHB4KTsKICAgICAgYm9yZGVyLXJpZ2h0OiAxcHggc29saWQgcmdiYSgyNTUs
MjU1LDI1NSwwLjIpOwogICAgICBwYWRkaW5nOiAyLjVyZW0gMS41cmVtOwog
ICAgICBvdmVyZmxvdy15OiBhdXRvOwogICAgICBib3gtc2hhZG93OiA0cHgg
MCAyMHB4IHJnYmEoMCwwLDAsMC4wOCk7CiAgICAgIGhlaWdodDogY2FsYygx
MDB2aCAtIDkwcHgpOwogICAgfQoKICAgICNzaWRlYmFyIGgzIHsKICAgICAg
Y29sb3I6ICMyZDM3NDg7CiAgICAgIG1hcmdpbi1ib3R0b206IDEuNXJlbTsK
ICAgICAgZm9udC1zaXplOiAxLjI1cmVtOwogICAgICBmb250LXdlaWdodDog
NjAwOwogICAgfQoKICAgICNzaWRlYmFyIHVsIHsKICAgICAgbGlzdC1zdHls
ZTogbm9uZTsKICAgICAgZ2FwOiAwLjI1cmVtOwogICAgfQoKICAgICNzaWRl
YmFyIGxpIHsKICAgICAgbWFyZ2luLWJvdHRvbTogMC4yNXJlbTsKICAgIH0K
CiAgICAjc2lkZWJhciBhIHsKICAgICAgY29sb3I6ICMxMTk5OGU7CiAgICAg
IHRleHQtZGVjb3JhdGlvbjogbm9uZTsKICAgICAgcGFkZGluZzogMC43NXJl
bSAxcmVtOwogICAgICBkaXNwbGF5OiBibG9jazsKICAgICAgYm9yZGVyLXJh
ZGl1czogMTBweDsKICAgICAgdHJhbnNpdGlvbjogYWxsIDAuM3MgZWFzZTsK
ICAgICAgZm9udC13ZWlnaHQ6IDUwMDsKICAgIH0KCiAgICAjc2lkZWJhciBh
OmhvdmVyIHsKICAgICAgYmFja2dyb3VuZDogcmdiYSg1NywgMjU1LCAxNDAs
IDAuMTUpOwogICAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoNHB4KTsKICAg
ICAgYm94LXNoYWRvdzogMCA0cHggMTJweCByZ2JhKDE3LDE1MywxNDIsMC4y
KTsKICAgIH0KCiAgICAuZm9sZGVyLXRvZ2dsZSB7CiAgICAgIGN1cnNvcjog
cG9pbnRlcjsKICAgICAgcGFkZGluZzogMC43NXJlbSAxcmVtOwogICAgICBi
b3JkZXItcmFkaXVzOiAxMHB4OwogICAgICB0cmFuc2l0aW9uOiBhbGwgMC4z
cyBlYXNlOwogICAgICBkaXNwbGF5OiBibG9jazsKICAgICAgbGlzdC1zdHls
ZTogbm9uZTsKICAgICAgZm9udC13ZWlnaHQ6IDUwMDsKICAgICAgY29sb3I6
ICM0YTU1Njg7CiAgICB9CgogICAgLmZvbGRlci10b2dnbGU6aG92ZXIgewog
ICAgICBiYWNrZ3JvdW5kOiByZ2JhKDE3LCAxNTMsIDE0MiwgMC4xNSk7CiAg
ICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCg0cHgpOwogICAgfQoKICAgIC5m
aWxlLWxpbmsgewogICAgICBjb2xvcjogIzExOTk4ZSAhaW1wb3J0YW50Owog
ICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7CiAgICAgIHBhZGRpbmc6IDAu
NzVyZW0gMXJlbTsKICAgICAgZGlzcGxheTogYmxvY2s7CiAgICAgIGJvcmRl
ci1yYWRpdXM6IDEwcHg7CiAgICAgIHRyYW5zaXRpb246IGFsbCAwLjNzIGVh
c2U7CiAgICB9CgogICAgLmZpbGUtbGluazpob3ZlciB7CiAgICAgIGJhY2tn
cm91bmQ6IHJnYmEoNTcsIDI1NSwgMTQwLCAwLjE1KTsKICAgICAgdHJhbnNm
b3JtOiB0cmFuc2xhdGVYKDRweCk7CiAgICAgIGJveC1zaGFkb3c6IDAgNHB4
IDEycHggcmdiYSgxNywxNTMsMTQyLDAuMik7CiAgICB9CgogICAgI3JlcG8t
bGlzdCB1bCB7CiAgICAgIHBhZGRpbmc6IDA7CiAgICB9CgogICAgI3JlcG8t
bGlzdCBkZXRhaWxzIHsKICAgICAgbWFyZ2luOiAwLjVyZW0gMDsKICAgIH0K
CiAgICAuY2hpbGRyZW4gewogICAgICBwYWRkaW5nLWxlZnQ6IDJyZW07CiAg
ICB9CgogICAgI21haW4tY29udGVudCB7CiAgICAgIGZsZXg6IDE7CiAgICAg
IHBhZGRpbmc6IDNyZW0gMnJlbTsKICAgICAgZGlzcGxheTogZmxleDsKICAg
ICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7CiAgICAgIGFsaWduLWl0ZW1z
OiBjZW50ZXI7CiAgICAgIG92ZXJmbG93LXk6IGF1dG87CiAgICB9CgogICAg
LmNvbnRlbnQtY29udGFpbmVyIHsKICAgICAgYmFja2dyb3VuZDogcmdiYSgy
NTUsIDI1NSwgMjU1LCAwLjkpOwogICAgICBiYWNrZHJvcC1maWx0ZXI6IGJs
dXIoMjBweCk7CiAgICAgIGJvcmRlcjogMXB4IHNvbGlkIHJnYmEoMjU1LDI1
NSwyNTUsMC4yKTsKICAgICAgYm9yZGVyLXJhZGl1czogMjRweDsKICAgICAg
Ym94LXNoYWRvdzogMCAyMHB4IDYwcHggcmdiYSgwLDAsMCwwLjE1KTsKICAg
ICAgcGFkZGluZzogNHJlbTsKICAgICAgd2lkdGg6IDkwJTsKICAgICAgbWF4
LXdpZHRoOiA5MDBweDsKICAgICAgdGV4dC1hbGlnbjogY2VudGVyOwogICAg
ICB0cmFuc2l0aW9uOiBhbGwgMC40cyBlYXNlOwogICAgfQoKICAgIC5jb250
ZW50LWNvbnRhaW5lcjpob3ZlciB7CiAgICAgIHRyYW5zZm9ybTogdHJhbnNs
YXRlWSgtOHB4KTsKICAgICAgYm94LXNoYWRvdzogMCAyNXB4IDcwcHggcmdi
YSgwLDAsMCwwLjIpOwogICAgfQoKICAgIGgxIHsKICAgICAgY29sb3I6ICMy
ZDM3NDg7CiAgICAgIGZvbnQtc2l6ZTogMy41cmVtOwogICAgICBmb250LXdl
aWdodDogNjAwOwogICAgICBtYXJnaW4tYm90dG9tOiAxLjVyZW07CiAgICAg
IHRyYW5zaXRpb246IGFsbCAwLjRzIGVhc2U7CiAgICB9CgogICAgLmhpZ2hs
aWdodCB7CiAgICAgIGNvbG9yOiAjMTE5OThlOwogICAgICBwb3NpdGlvbjog
cmVsYXRpdmU7CiAgICAgIGZvbnQtd2VpZ2h0OiA2MDA7CiAgICB9CgogICAg
LmhpZ2hsaWdodDo6YWZ0ZXIgewogICAgICBjb250ZW50OiAnJzsKICAgICAg
cG9zaXRpb246IGFic29sdXRlOwogICAgICBib3R0b206IC04cHg7CiAgICAg
IGxlZnQ6IDA7CiAgICAgIHdpZHRoOiAxMDAlOwogICAgICBoZWlnaHQ6IDRw
eDsKICAgICAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KHRvIHJpZ2h0
LCAjMTE5OThlLCAjMzhlZjdkKTsKICAgICAgdHJhbnNmb3JtOiBzY2FsZVgo
MCk7CiAgICAgIHRyYW5zZm9ybS1vcmlnaW46IHJpZ2h0OwogICAgICB0cmFu
c2l0aW9uOiB0cmFuc2Zvcm0gMC40cyBlYXNlOwogICAgICBib3JkZXItcmFk
aXVzOiAycHg7CiAgICB9CgogICAgLmhpZ2hsaWdodDpob3Zlcjo6YWZ0ZXIg
ewogICAgICB0cmFuc2Zvcm06IHNjYWxlWCgxKTsKICAgICAgdHJhbnNmb3Jt
LW9yaWdpbjogbGVmdDsKICAgIH0KCiAgICBwIHsKICAgICAgY29sb3I6ICM0
YTU1Njg7CiAgICAgIGZvbnQtc2l6ZTogMS4yNXJlbTsKICAgICAgbGluZS1o
ZWlnaHQ6IDEuNzsKICAgICAgbWFyZ2luLWJvdHRvbTogM3JlbTsKICAgICAg
Zm9udC13ZWlnaHQ6IDQwMDsKICAgIH0KCiAgICAuZ3JlZXRpbmcgewogICAg
ICBmb250LXNpemU6IDEuNzVyZW07CiAgICAgIG1hcmdpbi10b3A6IDIuNXJl
bTsKICAgICAgY29sb3I6ICMyZDM3NDg7CiAgICAgIGFuaW1hdGlvbjogZmFk
ZUluVXAgMC42cyBlYXNlLW91dDsKICAgICAgZm9udC13ZWlnaHQ6IDUwMDsK
ICAgIH0KCiAgICBAa2V5ZnJhbWVzIGZhZGVJblVwIHsKICAgICAgZnJvbSB7
IAogICAgICAgIG9wYWNpdHk6IDA7IAogICAgICAgIHRyYW5zZm9ybTogdHJh
bnNsYXRlWSgzMHB4KTsgCiAgICAgIH0KICAgICAgdG8geyAKICAgICAgICBv
cGFjaXR5OiAxOyAKICAgICAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoMCk7
IAogICAgICB9CiAgICB9CgogICAgLmh0bXgtaW5kaWNhdG9yIHsKICAgICAg
ZGlzcGxheTogbm9uZTsKICAgICAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRp
ZW50KDkwZGVnLCB0cmFuc3BhcmVudCwgcmdiYSg1NywyNTUsMTQwLDAuNCks
IHRyYW5zcGFyZW50KTsKICAgICAgcGFkZGluZzogMXJlbTsKICAgICAgYm9y
ZGVyLXJhZGl1czogMTJweDsKICAgICAgYmFja2Ryb3AtZmlsdGVyOiBibHVy
KDEwcHgpOwogICAgfQoKICAgIC5odG14LXJlcXVlc3QgLmh0bXgtaW5kaWNh
dG9yIHsKICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrOwogICAgICBhbmlt
YXRpb246IHNoaW1tZXIgMS41cyBpbmZpbml0ZTsKICAgIH0KCiAgICBAa2V5
ZnJhbWVzIHNoaW1tZXIgewogICAgICAwJSB7IGJhY2tncm91bmQtcG9zaXRp
b246IC0yMDAlIDA7IH0KICAgICAgMTAwJSB7IGJhY2tncm91bmQtcG9zaXRp
b246IDIwMCUgMDsgfQogICAgfQoKICAgIC5odG14LXJlcXVlc3QgLmJ0biB7
CiAgICAgIG9wYWNpdHk6IDAuNzsKICAgICAgcG9pbnRlci1ldmVudHM6IG5v
bmU7CiAgICB9CgogICAgZm9vdGVyIHsKICAgICAgbWFyZ2luLXRvcDogNHJl
bTsKICAgICAgY29sb3I6ICNhMGFlYzA7CiAgICAgIGZvbnQtc2l6ZTogMC45
NXJlbTsKICAgICAgZm9udC13ZWlnaHQ6IDQwMDsKICAgIH0KCiAgICAvKiBG
aWxlIHZpZXdlciBzdHlsZXMgKi8KICAgIC5maWxlLXRpdGxlIHsKICAgICAg
bWFyZ2luLXRvcDogMDsKICAgICAgY29sb3I6ICMyZDM3NDg7CiAgICAgIGZv
bnQtc2l6ZTogMS43NXJlbTsKICAgICAgZm9udC13ZWlnaHQ6IDYwMDsKICAg
ICAgbWFyZ2luLWJvdHRvbTogMS41cmVtOwogICAgfQoKICAgIC8qIFNwbGl0
IHZpZXcgc3R5bGVzICovCiAgICAuc3BsaXQtbWFpbiB7CiAgICAgIGRpc3Bs
YXk6IGZsZXg7CiAgICAgIGhlaWdodDogNzB2aDsKICAgICAgYm9yZGVyLXJh
ZGl1czogMTZweDsKICAgICAgb3ZlcmZsb3c6IGhpZGRlbjsKICAgICAgYm94
LXNoYWRvdzogMCAxMnB4IDQwcHggcmdiYSgwLDAsMCwwLjE1KTsKICAgICAg
bWFyZ2luLXRvcDogMS41cmVtOwogICAgICBhbmltYXRpb246IGZhZGVJblVw
IDAuNXMgZWFzZTsKICAgIH0KCiAgICAjcHJldmlldy1wYW5lbCB7CiAgICAg
IGZsZXg6IDE7CiAgICAgIGJhY2tncm91bmQ6IHdoaXRlOwogICAgICBwb3Np
dGlvbjogcmVsYXRpdmU7CiAgICB9CgogICAgLnByZXZpZXctY29udGFpbmVy
IHsKICAgICAgd2lkdGg6IDEwMCU7CiAgICAgIGhlaWdodDogMTAwJTsKICAg
ICAgYm9yZGVyLXJhZGl1czogMTZweDsKICAgICAgb3ZlcmZsb3c6IGhpZGRl
bjsKICAgICAgcmVzaXplOiBib3RoOwogICAgICBtaW4taGVpZ2h0OiAyMDBw
eDsKICAgICAgbWluLXdpZHRoOiAzMDBweDsKICAgICAgb3ZlcmZsb3c6IGF1
dG87CiAgICB9CgogICAgLnByZXZpZXctY29udGFpbmVyIGlmcmFtZSB7CiAg
ICAgIHdpZHRoOiAxMDAlOwogICAgICBoZWlnaHQ6IDEwMCU7CiAgICAgIGJv
cmRlcjogbm9uZTsKICAgICAgYm9yZGVyLXJhZGl1czogMTZweDsKICAgIH0K
CiAgICAubm8tcHJldmlldyB7CiAgICAgIGRpc3BsYXk6IGZsZXg7CiAgICAg
IGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAgICAgIGp1c3RpZnktY29udGVudDog
Y2VudGVyOwogICAgICBoZWlnaHQ6IDEwMCU7CiAgICAgIGNvbG9yOiAjYTBh
ZWMwOwogICAgICBmb250LXNpemU6IDEuMjVyZW07CiAgICAgIHBhZGRpbmc6
IDIuNXJlbTsKICAgICAgZm9udC13ZWlnaHQ6IDUwMDsKICAgIH0KCiAgICAj
Y29kZS1wYW5lbCB7CiAgICAgIGZsZXg6IDE7CiAgICAgIGJhY2tncm91bmQ6
ICMxYTFhMWE7CiAgICAgIGNvbG9yOiAjZTJlOGYwOwogICAgICBwYWRkaW5n
OiAxLjVyZW07CiAgICAgIG92ZXJmbG93OiBhdXRvOwogICAgICBmb250LWZh
bWlseTogJ01vbmFjbycsICdNZW5sbycsICdVYnVudHUgTW9ubycsIG1vbm9z
cGFjZTsKICAgICAgZm9udC1zaXplOiAwLjlyZW07CiAgICAgIGxpbmUtaGVp
Z2h0OiAxLjU1OwogICAgfQoKICAgIC5jb2RlLXZpZXcgcHJlIHsKICAgICAg
bWFyZ2luOiAwOwogICAgICBwYWRkaW5nOiAxLjVyZW07CiAgICAgIGJhY2tn
cm91bmQ6ICMxYTFhMWE7CiAgICAgIGJvcmRlci1yYWRpdXM6IDEycHg7CiAg
ICAgIHdoaXRlLXNwYWNlOiBwcmUtd3JhcDsKICAgICAgd29yZC1icmVhazog
YnJlYWstYWxsOwogICAgICBib3gtc2hhZG93OiBpbnNldCAwIDJweCAxMHB4
IHJnYmEoMCwwLDAsMC4zKTsKICAgIH0KCiAgICAvKiBQcmV2aWV3IEZ1bGxz
Y3JlZW4gKi8KICAgIC5wcmV2aWV3LWNvbnRhaW5lci5mdWxsc2NyZWVuIHsK
ICAgICAgcG9zaXRpb246IGZpeGVkICFpbXBvcnRhbnQ7CiAgICAgIHRvcDog
MCAhaW1wb3J0YW50OwogICAgICBsZWZ0OiAwICFpbXBvcnRhbnQ7CiAgICAg
IHdpZHRoOiAxMDB2dyAhaW1wb3J0YW50OwogICAgICBoZWlnaHQ6IDEwMHZo
ICFpbXBvcnRhbnQ7CiAgICAgIHotaW5kZXg6IDk5OTk7CiAgICAgIGJhY2tn
cm91bmQ6IHdoaXRlOwogICAgICBib3JkZXItcmFkaXVzOiAwOwogICAgICBi
b3gtc2hhZG93OiAwIDAgNTBweCByZ2JhKDAsMCwwLDAuNSk7CiAgICAgIG1h
cmdpbjogMDsKICAgIH0KCiAgICAuZnVsbHNjcmVlbi1idG4sIC5leGl0LWZ1
bGxzY3JlZW4gewogICAgICBwb3NpdGlvbjogYWJzb2x1dGU7CiAgICAgIHRv
cDogMjBweDsKICAgICAgcmlnaHQ6IDIwcHg7CiAgICAgIHotaW5kZXg6IDEw
MDAwOwogICAgICBiYWNrZ3JvdW5kOiByZ2JhKDAsMCwwLDAuODUpOwogICAg
ICBjb2xvcjogd2hpdGU7CiAgICAgIGJvcmRlcjogbm9uZTsKICAgICAgYm9y
ZGVyLXJhZGl1czogNTAlOwogICAgICB3aWR0aDogNDhweDsKICAgICAgaGVp
Z2h0OiA0OHB4OwogICAgICBjdXJzb3I6IHBvaW50ZXI7CiAgICAgIGZvbnQt
c2l6ZTogMjBweDsKICAgICAgdHJhbnNpdGlvbjogYWxsIDAuM3MgZWFzZTsK
ICAgICAgYmFja2Ryb3AtZmlsdGVyOiBibHVyKDEwcHgpOwogICAgfQoKICAg
IC5mdWxsc2NyZWVuLWJ0bjpob3ZlciB7CiAgICAgIGJhY2tncm91bmQ6IHJn
YmEoMCwwLDAsMSk7CiAgICAgIHRyYW5zZm9ybTogc2NhbGUoMS4xNSk7CiAg
ICB9CgogICAgLmV4aXQtZnVsbHNjcmVlbiB7CiAgICAgIHJpZ2h0OiA4MHB4
OwogICAgICBiYWNrZ3JvdW5kOiByZ2JhKDIzOSw2OCw2OCwwLjkpOwogICAg
fQoKICAgIC5leGl0LWZ1bGxzY3JlZW46aG92ZXIgewogICAgICBiYWNrZ3Jv
dW5kOiAjZWY0NDQ0OwogICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuMTUpOwog
ICAgfQoKICAgIC8qIEV0YXBhIDY6IE1vZGUgdG9nZ2xlICsgMTY6OSAqLwog
ICAgLnByZXZpZXctY29kZS1jb250YWluZXIgewogICAgICB3aWR0aDogMTAw
JTsKICAgICAgYXNwZWN0LXJhdGlvOiAxNiAvIDk7CiAgICAgIG1heC1oZWln
aHQ6IDgwdmg7CiAgICAgIGJvcmRlci1yYWRpdXM6IDE2cHg7CiAgICAgIG92
ZXJmbG93OiBoaWRkZW47CiAgICAgIHJlc2l6ZTogYm90aDsKICAgICAgbWlu
LWhlaWdodDogMjAwcHg7CiAgICAgIG1pbi13aWR0aDogMzAwcHg7CiAgICAg
IGJveC1zaGFkb3c6IDAgOHB4IDMycHggcmdiYSgwLDAsMCwwLjEyKTsKICAg
ICAgdHJhbnNpdGlvbjogYm94LXNoYWRvdyAwLjNzIGVhc2U7CiAgICB9Cgog
ICAgLnByZXZpZXctY29kZS1jb250YWluZXI6aG92ZXIgewogICAgICBib3gt
c2hhZG93OiAwIDEycHggNDBweCByZ2JhKDAsMCwwLDAuMTgpOwogICAgfQoK
ICAgIC5tb2RlLXRvZ2dsZSB7CiAgICAgIGRpc3BsYXk6IGZsZXg7CiAgICAg
IGdhcDogMC43NXJlbTsKICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7
CiAgICAgIG1hcmdpbjogMS41cmVtIDA7CiAgICAgIGZsZXgtd3JhcDogd3Jh
cDsKICAgIH0KCiAgICAuYnRuLW1vZGUgewogICAgICBwYWRkaW5nOiAwLjc1
cmVtIDEuNzVyZW07CiAgICAgIGZvbnQtc2l6ZTogMC45NXJlbTsKICAgICAg
Zm9udC13ZWlnaHQ6IDUwMDsKICAgICAgYm9yZGVyLXJhZGl1czogMjVweDsK
ICAgICAgYm9yZGVyOiBub25lOwogICAgICBjdXJzb3I6IHBvaW50ZXI7CiAg
ICAgIHRyYW5zaXRpb246IGFsbCAwLjNzIGVhc2U7CiAgICAgIGJhY2tncm91
bmQ6IGxpbmVhci1ncmFkaWVudCh0byByaWdodCwgIzExOTk4ZSwgIzM4ZWY3
ZCk7CiAgICAgIGNvbG9yOiB3aGl0ZTsKICAgICAgd2hpdGUtc3BhY2U6IG5v
d3JhcDsKICAgICAgYm94LXNoYWRvdzogMCA2cHggMjBweCByZ2JhKDE3LDE1
MywxNDIsMC4zKTsKICAgIH0KCiAgICAuYnRuLW1vZGU6aG92ZXI6bm90KDpk
aXNhYmxlZCkgewogICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuMDUpOwogICAg
ICBib3gtc2hhZG93OiAwIDEwcHggMzBweCByZ2JhKDE3LDE1MywxNDIsMC40
KTsKICAgIH0KCiAgICAuYnRuLW1vZGUuYWN0aXZlIHsKICAgICAgYmFja2dy
b3VuZDogbGluZWFyLWdyYWRpZW50KHRvIHJpZ2h0LCAjMGU3YTZiLCAjMmRj
OTY4KTsKICAgICAgdHJhbnNmb3JtOiBzY2FsZSgxLjAyKTsKICAgICAgYm94
LXNoYWRvdzogMCAxMHB4IDMwcHggcmdiYSgxNCwxMjIsMTA3LDAuNSk7CiAg
ICB9CgogICAgLmJ0bi1tb2RlOmRpc2FibGVkIHsKICAgICAgb3BhY2l0eTog
MC41OwogICAgICBjdXJzb3I6IG5vdC1hbGxvd2VkOwogICAgICB0cmFuc2Zv
cm06IG5vbmUgIWltcG9ydGFudDsKICAgIH0KCiAgICAvKiBNb2JpbGUgc3R5
bGVzICovCiAgICBAbWVkaWEgKG1heC13aWR0aDogNzY4cHgpIHsKICAgICAg
aGVhZGVyIHsKICAgICAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uOwogICAg
ICAgIHBhZGRpbmc6IDEuNXJlbTsKICAgICAgICBnYXA6IDFyZW07CiAgICAg
IH0KCiAgICAgIC5hcHAtY29udGFpbmVyIHsKICAgICAgICBmbGV4LWRpcmVj
dGlvbjogY29sdW1uOwogICAgICB9CgogICAgICAjc2lkZWJhciB7CiAgICAg
ICAgd2lkdGg6IDEwMCU7CiAgICAgICAgbWF4LWhlaWdodDogMjUwcHg7CiAg
ICAgICAgaGVpZ2h0OiBhdXRvOwogICAgICAgIG9yZGVyOiAtMTsKICAgICAg
ICBwYWRkaW5nOiAxLjVyZW07CiAgICAgIH0KCiAgICAgIGgxIHsKICAgICAg
ICBmb250LXNpemU6IDIuNXJlbTsKICAgICAgfQoKICAgICAgLmNvbnRlbnQt
Y29udGFpbmVyIHsKICAgICAgICBwYWRkaW5nOiAyLjVyZW0gMS41cmVtOwog
ICAgICAgIG1hcmdpbjogMXJlbTsKICAgICAgICBib3JkZXItcmFkaXVzOiAy
MHB4OwogICAgICB9CgogICAgICAuc3BsaXQtbWFpbiB7CiAgICAgICAgZmxl
eC1kaXJlY3Rpb246IGNvbHVtbjsKICAgICAgICBoZWlnaHQ6IGF1dG87CiAg
ICAgICAgbWFyZ2luLXRvcDogMXJlbTsKICAgICAgfQoKICAgICAgI3ByZXZp
ZXctcGFuZWwsICNjb2RlLXBhbmVsIHsKICAgICAgICBoZWlnaHQ6IDUwdmg7
CiAgICAgICAgbWluLWhlaWdodDogMjAwcHg7CiAgICAgIH0KCiAgICAgIC8q
IEhpZGUgZ3V0dGVycyBvbiBtb2JpbGUgKi8KICAgICAgLmd1dHRlciB7CiAg
ICAgICAgZGlzcGxheTogbm9uZSAhaW1wb3J0YW50OwogICAgICB9CgogICAg
ICAubW9kZS10b2dnbGUgewogICAgICAgIGdhcDogMC41cmVtOwogICAgICB9
CgogICAgICAuYnRuLW1vZGUgewogICAgICAgIHBhZGRpbmc6IDAuNzVyZW0g
MS4yNXJlbTsKICAgICAgICBmb250LXNpemU6IDAuOXJlbTsKICAgICAgfQog
ICAgfQ==